.block-3:first-child {padding: 0;margin: 0;    margin-bottom: 24px;margin-bottom: 20px;}
.block-iamge-bg {padding-bottom: 10px}
.block-iamge-bg .phone {    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #003486;
    border-bottom: 1px dotted #001c79;
    text-decoration: none;}
.test-btn {    background: #ff8300;
    border-radius: 10px;
    border: 2px solid #e8682b;
    display: block;
    text-align: center;
    padding: 7px 10px;
    text-decoration: none;
    color: #fff;
    max-width: 286px;
    margin: auto;
    box-shadow: 1px 0px 6px #a05200;}