RewriteEngine on

RewriteCond %{SERVER_PORT} ^80$ [OR]
RewriteCond %{HTTP} =on
#RewriteRule ^(.*)$ https://manylinks.ru/$1 [R=301,L]
#RewriteRule ^(.*)$ http://manylinks2/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php