.logo-text {    color: #FF0000;
 color: #FF0000;
    margin: 226px 0 117px;
    font-size: 45px;
    text-align: center;
    animation: pulse 4s infinite;
    text-shadow: 2px -4px 0 rgb(79, 79, 79);
 
}


@-webkit-keyframes pulse {
  0% {
   text-shadow: 0px 0px 0 #FF0000;
  }
  50% {
      text-shadow: 0px 0px 20px #FF0000;
  }
  100% {
      text-shadow: 0px 0px 0 #FF0000;
  }
}

.phones {    text-align: center;}
.phones div {margin-top: 10px}
.phones div a {    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted;
    font-weight: bold;}

.ul-icon-list {    display: flex;}
.ul-icon-list a {border: none;}
.ul-icon-list i {background-color: #313131;
    border-radius: 50%;
    border: 9px solid #313131;}
.ul-icon-list span {display: none;}